body {
    margin: 0;
}

.container {
    color: #098655;
    height: 100vh;
    padding: 5em;
    padding-right: 0;
    padding-bottom: 0;
    box-sizing: border-box;
}

.left {
    width: 60%;
    float: left;
}

.right {
    width: 40%;
    height: 100%;
    float: right;
    background-color: #223813;
    background-image: url("ravenclaw.jpg");
    background-size: cover;
}

.right img{
    height: 100%;
}